name: Model train workflow
run-name: Model train workflow
on: [push]

env:
  ARTICLES_PATH: "~/train_data/parsed_articles"

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
          cache: pip

      - name: Install PIP requirements
        run: pip install -r requirements.txt

      - name: Cache train data
        uses: actions/cache@v3
        with:
          key: train-data-cache
          path: ~/train_data

      - name: Parse habre articles
        if: ${{ true }} # TODO: add github variable
        run: python -m scrapy_spiders.habrparser

      # - name: Upload model
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: model
      #     path: path
      #     retention-days: 1
